{% extends 'base.html' %}
{% block edit %}
    <h1>Edit user info:</h1>
    <form action="" method="POST">
        First Name <input type="text" name="first_name" placeholder="{{user.first_name}}" value="{{user.first_name}}">
        <br>
        Last Name <input type="text" name="last_name" placeholder="{{user.last_name}}" value="{{user.last_name}}">
        <br>
        Image URL <input type="text" name="image_url" placeholder="{{user.image_url}}" value="{{user.image_url}}">
        <br>
        <button formaction="/users" formmethod="GET">Cancel</button>
        <button  type="submit">Save</button>
    </form>
{% endblock %}